<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
  </div>

  <!-- Content Row -->
  <div class="row">

    <div class="col-lg-10 mb-4">

      <!-- Approach -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'mysite_basic_login' %}">Fehler bei der Anmeldung</a></h6>
        </div>
        <div class="card-body">
                <p>Benutzername / Passwort stimmen nicht oder sind nicht vorhanden</p>
        </div>
      </div>
    </div>

    <!-- Content Column -->
    <div class="col-lg-6 mb-4"></div>

  </div>

</div>