{% load static %}
<!-- Markdown deux scripts -->
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}

  {# Zur Anzeige des Markdown Feldes sehr gut geeignet #}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" type="text/javascript"></script>#}
{#  https://github.com/markedjs/marked.git#}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js" type="text/javascript"></script>#}
<script src="{% static 'vendor/marked/0.6.2/marked.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.content-markdown').each(function(){
        var content = $(this).text();
        var markedContent = marked(content);
        $(this).html(markedContent);
    })
  })
</script>