<div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
{#            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>#}
{#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
          </div>

          <!-- Content Row -->
          <div class="row">

{#            <div class="col-lg-6 mb-4">#}
            <div class="col-lg-10 mb-4">

              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                    {% if angemeldet %}
                        <h6 class="m-0 font-weight-bold text-primary">Erfolgreich angemeldet</h6>
                    {% else %}
                  <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'mysite_basic_login' %}">Startseite</a></h6>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>Basisinformationen hier anzeigen und Links zu Daten die gegebenenfalls auf ein Login umgelenkt werden</p>
                    <p>Auch ein nettes Hintergrundbild macht Sinn, da die Menüs ausgeblendet sind, bis der Login erfolgt ist.</p>
{#                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>#}
{#                  <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>#}
                    {% if request.user.is_active %}
                        <div class="row">
                            <div class="col-lg-5"><p><a href="{% url 'web_scribble_notes:treeadd' %}">Tree anlegen (Menü auf Linker Seite)</a></p></div>
                            <div class="col-lg-5"><p><a href="{% url 'web_scribble_notes:treechange' %}">Tree ändern (Menü auf Linker Seite)</a></p></div>
                        </div>
                    {% endif %}
                </div>
              </div>

            </div>

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->

              <!-- Color System -->
{% comment %}
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                      Primary
                      <div class="text-white-50 small">#4e73df</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Success
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                      Info
                      <div class="text-white-50 small">#36b9cc</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                      Warning
                      <div class="text-white-50 small">#f6c23e</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                      Danger
                      <div class="text-white-50 small">#e74a3b</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                      Secondary
                      <div class="text-white-50 small">#858796</div>
                    </div>
                  </div>
                </div>
              </div>
{% endcomment %}

            </div>

          </div>

        </div>