{#<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">#}
<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
{% comment %}      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% static 'index.html' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
      </a>{% endcomment %}
{% comment %}      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'web_scribble_notes:index' %}">
          <div class="sidebar-brand-text mx-3">Start</div>
      </a>{% endcomment %}

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
{#        {% include "web_scribble_notes/toggle_tree.html" %}#}
{#        {% include "web_scribble_notes/toggle_path.html" %}#}
{#        {% include "web_scribble_notes/toggle_path_jstree.html" %}#}
        {% include "webdms/toggle_path_static.html" %}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="{% static 'index.html' %}">#}
{#          <i class="fas fa-fw fa-tachometer-alt"></i>#}
{#          <span>Dashboard</span></a>#}
{#      </li>#}

      <!-- Divider -->
{#      <hr class="sidebar-divider">#}

      <!-- Heading -->
{#      <div class="sidebar-heading">#}
{#        Tags#}
{#      </div>#}

      <!-- Nav Item - Pages Collapse Menu -->
{#      <li class="nav-item">#}
{#        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">#}
{#          <i class="fas fa-fw fa-cog"></i>#}
{#          <span>Components</span>#}
{#        </a>#}
{#        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
{#          <div class="bg-white py-2 collapse-inner rounded">#}
{#            <h6 class="collapse-header">Custom Components:</h6>#}
{#            <a class="collapse-item" href="{% static 'buttons.html' %}">Buttons</a>#}
{#            <a class="collapse-item" href="{% static 'cards.html' %}">Cards</a>#}
{#          </div>#}
{#        </div>#}
{#      </li>#}

      <!-- Nav Item - Utilities Collapse Menu -->
{#      <li class="nav-item">#}
{#        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">#}
{#          <i class="fas fa-fw fa-wrench"></i>#}
{#          <span>Utilities</span>#}
{#        </a>#}
{#        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">#}
{#          <div class="bg-white py-2 collapse-inner rounded">#}
{#            <h6 class="collapse-header">Custom Utilities:</h6>#}
{#            <a class="collapse-item" href="{% static 'utilities-color.html' %}">Colors</a>#}
{#            <a class="collapse-item" href="{% static 'utilities-border.html' %}">Borders</a>#}
{#            <a class="collapse-item" href="{% static 'utilities-animation.html' %}">Animations</a>#}
{#            <a class="collapse-item" href="{% static 'utilities-other.html' %}">Other</a>#}
{#          </div>#}
{#        </div>#}
{#      </li>#}
{##}
{#      <!-- Divider -->#}
{#      <hr class="sidebar-divider">#}
{##}
{#      <!-- Heading -->#}
{#      <div class="sidebar-heading">#}
{#        Addons#}
{#      </div>#}

      <!-- Nav Item - Pages Collapse Menu -->
{#      <li class="nav-item">#}
{#        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">#}
{#          <i class="fas fa-fw fa-folder"></i>#}
{#          <span>Pages</span>#}
{#        </a>#}
{#        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">#}
{#          <div class="bg-white py-2 collapse-inner rounded">#}
{#            <h6 class="collapse-header">Login Screens:</h6>#}
{#            <a class="collapse-item" href="{% static 'login.html' %}">Login</a>#}
{#            <a class="collapse-item" href="{% static 'register.html' %}">Register</a>#}
{#            <a class="collapse-item" href="{% static 'forgot-password.html' %}">Forgot Password</a>#}
{#            <div class="collapse-divider"></div>#}
{#            <h6 class="collapse-header">Other Pages:</h6>#}
{#            <a class="collapse-item" href="{% static '404.html' %}">404 Page</a>#}
{#            <a class="collapse-item" href="{% static 'blank.html' %}">Blank Page</a>#}
{#          </div>#}
{#        </div>#}
{#      </li>#}

      <!-- Nav Item - Charts -->
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="{% static 'charts.html' %}">#}
{#          <i class="fas fa-fw fa-chart-area"></i>#}
{#          <span>Charts</span></a>#}
{#      </li>#}

      <!-- Nav Item - Tables -->
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="{% static 'tables.html' %}">#}
{#          <i class="fas fa-fw fa-table"></i>#}
{#          <span>Tables</span></a>#}
{#      </li>#}

      <!-- Divider -->
{#      <hr class="sidebar-divider d-none d-md-block">#}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>