<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          {% include "_toolbar_search.html" %}

          <div class="d-sm-flex align-items-center justify-content-between">
              {% include "webdms/toggle_new-delete_button.html" %}
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->

{#            <button type="button" class="btn btn-primary btn-sm">Seite anlegen</button>#}

            <!-- Nav Item - Alerts -->
{#            {% include "_nav-item-alerts.html" %}#}
            {% include "webdms/_nav-item-schluessel.html" %}
            <!-- Nav Item - Messages -->

            {% include "webdms/toggle_books.html" %}

            <!-- Nav Item - User Information -->
            {% include "_nav-item-userinformation.html" %}

          </ul>

        </nav>