{% load static %}
{% load rechte_helper %}
<div class="topbar-divider d-none d-sm-block"></div>

<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
    <img class="img-profile rounded-circle" src="{% static 'img/149452.svg' %}" title="{{ user.first_name }} {{ user.last_name }}">
  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    <a class="dropdown-item" href="{% url 'mysite_basic_change' %}">
      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
      Profile
    </a>
    <a class="dropdown-item" href="{% if book %}{% url 'web_scribble_notes:bookbackup' %}{% else %}#{% endif %}">
      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
      Backup
    </a>
    <a class="dropdown-item" href="{% url 'web_scribble_notes:bookrestore' %}">
      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
      Restore
    </a>
{% comment %}    <a class="dropdown-item" href="{% if pathslug %}{% url 'web_scribble_notes:path:noteimport' pathslug %}{% else %}{% url 'web_scribble_notes:path:noteimport' None %}{% endif %}" title="TXT-HTML-Dateien">
      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
      Import
    </a>{% endcomment %}
    <a class="dropdown-item" href="{% url 'web_scribble_notes:menu' %}">
      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
      Menü
    </a>
    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
      Abmelden
    </a>
  </div>
</li>