{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
{#  <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">#}

  <title>{% include "_project.html" %} - {% block title %}{% endblock %}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!--Tinymce Text-Editor (Must be in Head Tag) -->
  <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>
{#  <script type="text/javascript" src="{% static 'js/tinymce/custom.min.js' %}" ></script>#}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
{#    {% if user.is_authenticated %}{% include "__sidebar.html" %}{% endif %}#}
{#    {% if angemeldet %}{% include "__sidebar.html" %}{% endif %}#}
    {% include "__sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
{#        {% if angemeldet %}{% include "__topbar.html" %}{% endif %}#}
        {% include "__topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {% block content %}
        {% endblock content %}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
        {% include "__footer.html" %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wirklich Abmelden?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
{#        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>#}
        <div class="modal-body">Wählen Sie "Abmelden" wenn Sie die aktuelle Sitzung beenden wollen.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Abbruch</button>
{#          <a class="btn btn-primary" href="{% static 'login.html' %}">Logout</a>#}
          <a class="btn btn-primary" href="{% url 'mysite_basic_logout' %}">Abmelden</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
{#  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>#}

  <!-- Page level custom scripts -->
{#  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>#}
{#  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>#}


  {% include '__markdown_js.html' %}
</body>

</html>
