<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-lg-10 mb-4">

              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{ cardheader }}</h6>
                </div>
                <div class="card-body">
                    {% if request.user.is_active %}
                        <div class="row">
                            <div class="col-lg-5">{{ msg }}</div>
                        </div>
                        {% if errshowmenu %}
                            <br />
                            <div class="row">
                                <div class="col-lg-5"><a href="{% url 'webdms:menu' %}">Menü bearbeiten</a> </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
              </div>

            </div>

            <!-- Content Column -->
            <div class="col-lg-6 mb-4"><!-- Project Card Example --></div>

          </div>

        </div>