<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">

          </div>

        <!-- Content Row -->
          <div class="row">
            <!-- Content Link-Menü -->
            <div class="col-lg-2 mb-4">
              <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
{% comment %}                        {% for label in notelist %}
                            <a href="{% url 'webdms:noteview' treeid label.pk %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                        {% endfor %}{% endcomment %}
                        {% comment %}{% for datei in dateilist %}
                            <a href="{% url 'webdms:path:datei' pathslug datei.slug %}" class="list-group-item list-group-item-action list-group-item-warning" title="{{ datei.label }}">{{ datei.label }}</a>
                        {% endfor %}{% endcomment %}
                    </div>
                  </div>

              </div>
            </div>
            <!-- Content Link-Menü Ende-->


            <!-- Content Text -->
            <div class="col-lg-10 mb-4">

              <!-- Approach -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-danger">{{ labelerror }}</h6>
                </div>
                <div class="card-body">
                    <p>{{ bodyerror }}</p>
                </div>
              </div>
              </div>

            </div>
            <!-- Content Text Ende-->
          </div>

