{% load templatetag %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            {#                            <a href="{% url 'webdms:noteview' treeid label.pk %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>#}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' label.tree.slug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning" title="{{ label.book.book }} /// {{ label.tree.child }} /// {{ label.label }}">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' label.tree.slug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info" title="{{ label.book.book }} /// {{ label.tree.child }} /// {{ label.label }}">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                        <a href="{% url 'webdms:keywordadd' %}"><div class="card-body">KeyWord anlegen</div></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->

        <!-- Content Text -->
        <div class="col-lg-10 mb-4">
            <!-- Approach -->
            <div class="row">
                <div class='col-lg-3 bg-info text-white table-bordered'>KeyWords</div>
                <div class='col-lg-3 bg-info text-white table-bordered'>Verwendet</div>
            </div>
            {% for key in schluessellist %}
                <div class="row">
                    <div class='col-lg-3'>
                        <a href="{% url 'webdms:keywordsedit' key.slug %}">{{ key.schluessel }}</a></div>
                    <div class='col-lg-3'>
                        {% if key|countschluessel == 0 %}
                            <a href="#">0</a>
                        {% else %}
                            <a href="{% url 'webdms:schluesselfind' key.slug %}">{{ key|countschluessel }}</a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                Keine Keywords vorhanden
            {% endfor %}
            {% if addkeyword %}
                <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class='col-lg-3 table-bordered'>
                        <label for="id_schluessel" hidden="hidden">Schluessel</label>
                        <input type="text" class="form-control" name="schluessel" id="id_schluessel" value="{% if object %}{{ object.schluessel }}{% endif %}" />
                    </div>
                    <div class='col-lg-3 table-bordered'>{% if object %}{{ object|countschluessel }}{% else %}&nbsp;{% endif %}</div>
                </div>
                <br />
                <div class="row">
                    <div class='col-lg-4'>
                        {% if object %}
                            <input type='submit' value='Save KeyWord' name="subkey" class='btn btn-success btn-lg btn-block' />
                        {% else %}
                            <input type='submit' value='Create New KeyWord' name="subkey" class='btn btn-success btn-lg btn-block' />
                        {% endif %}
                    </div>
{#                    <div class='col-lg-2 table-bordered'>0</div>#}
{#                    <div class='col-lg-2 table-bordered'>0</div>#}
                    <div class='col-lg-2'>&nbsp;</div>
                    <div class='col-lg-2'>
                        {% if object %}
                            <input type='submit' value='Remove KeyWord' name="subkey" class='btn btn-danger btn-lg btn-block' />
                        {% endif %}
                    </div>
                </div>
                </form>
            {% endif %}
        </div>

    </div>
    <!-- Content Text Ende-->
</div>