<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
          </div>
        <!-- Content Row -->
          <div class="row">
            <!-- Content Link-Menü -->
            <div class="col-lg-4 mb-4">
              <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group zeigemax">
                        {% for dtlb in dateilist %}
{#                            <a href="{% url 'webdms:path:datei' pathslug dtlb.slug %}" class="list-group-item list-group-item-action list-group-item-warning" title="{{ dtlb.pfad.filesubpath }}/{{ dtlb.label }}">{{ dtlb.label }}</a>#}
                            <a href="{% url 'webdms:path:datei' dtlb.pfad.slug dtlb.slug %}" class="list-group-item list-group-item-action list-group-item-warning" title="{{ dtlb.pfad.filesubpath }}/{{ dtlb.label }}">{{ dtlb.label }}</a>
                        {% endfor %}
                    </div>
                  </div>
              </div>
            </div>
            <!-- Content Link-Menü Ende-->
            <!-- Content Text -->
            <div class="col-lg-8 mb-4">
              <!-- Approach -->
{#                  <form id="searchform" action="{% url 'web_scribble_notes:path:searchsl' pathslug %}" method="get" accept-charset="utf-8">{% csrf_token %}#}
                  <form id="searchform" action="{{ actionurl }}" method="get" accept-charset="utf-8">{% csrf_token %}
                      <div class="card-header py-3">
                          <div class="input-group mb-3" title="Suche in den Hinweisen">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="id_search">Suche</label>
                          </div>
                          <input class="custom-select searchfield" id="id_search" name="search" type="text" value="{{ suchtext }}" />
                          </div>
                          <div class="row">
                              <div class='col-lg-1'>In allen Büchern</div>
                              <div class='col-lg-1'>
                                  <label class="control-label" for="id_allebooks" hidden>In allen Büchern:</label>
                                  <input type="checkbox" class="form-control" name="allebooks" id="id_allebooks"{% if allebooks %} checked="checked"{% endif %} />
                              </div>
                              <div class='col-lg-1 offset-1' title="im Dateiname suchen">im Namen</div>
                              <div class='col-lg-1'>
                                  <label class="control-label" for="id_titel" hidden>Dateiname durchsuchen:</label>
                                  <input type="checkbox" class="form-control" name="titel" id="id_titel"{% if btitel %} checked="checked"{% endif %} />
                              </div><div class='col-lg-1 offset-1' title="Wird nur gefunden wenn es eine Datei an der Stelle gibt.">Im Baum</div>
                              <div class='col-lg-1'>
                                  <label class="control-label" for="id_stree" hidden>nur in Url Path suchen:</label>
                                  <input type="checkbox" class="form-control" name="stree" id="id_stree"{% if btree %} checked="checked"{% endif %} />
                              </div>
                          </div>
                      </div>
                      <br />
                      <div class="row">
                          <div class='col-lg-3'>&nbsp;</div>
                          <div class='col-lg-2'>
                              <input type='submit' value='Suchen' name="suche" class='btn btn-success btn-lg btn-block' />
                          </div>
                      </div>
                  </form>
              </div>

            </div>
            <!-- Content Text Ende-->
          </div>