<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
{#            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>#}
{#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
          </div>

        <!-- Content Row -->
          <div class="row">
            <!-- Content Link-Menü -->
            <div class="col-lg-2 mb-4">
              <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            <a href="{% url 'webdms:noteview' treeid label.pk %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                        {% endfor %}
                    </div>
                  </div>
{% comment %}                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Success
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>{% endcomment %}
              </div>
            </div>
            <!-- Content Link-Menü Ende-->


            <!-- Content Text -->
            <div class="col-lg-10 mb-4">

              <!-- Approach -->

                      <form action="" method="post">{% csrf_token %}
{#                      <div class="card-header py-3">#}
{#                        <label class="control-label text-success" for="id_parent">Neuen Tree anlegen</label>#}
{#                        <input type="text" class="form-control" name="parent" id="id_parent" value="{% if objtree %}{{ objtree.parent }}{% endif %}" />#}
{#                      </div>#}
                          <div class="card-header py-3">
{#                              <div class="dropdown">#}
{#                                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button"#}
{#                                     id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"#}
{#                                     aria-expanded="false">#}
{#                                      Dropdown link#}
{#                                  </a>#}
{##}
{#                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
{#                                      <a class="dropdown-item" href="#">Action</a>#}
{#                                      <a class="dropdown-item" href="#">Another action</a>#}
{#                                      <a class="dropdown-item" href="#">Something else here</a>#}
{#                                  </div>#}
{#                              </div>#}
                              <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="id_wurzel">Wurzel</label>
                              </div>
                              <select class="custom-select" id="id_wurzel" name="wurzel">
{% comment %}                                  Tabelle Tree für das Manü
                                  {% if tree %}<option value="{{ tree.pk }}" selected>{{ tree.parent }} // {{ tree.child }}</option>{% else %}
{#                                    <option value="{{ prime.pk }}" selected>{{ primebook }}</option>#}
                                  {% for feld in list0 %}
                                      <option  value="{{ feld.pk }}"{% if feld.pk == tree.pk %} selected{% endif %}>{{ primebook }} // {{ feld.child }}</option>{% endfor %}
                                  <option value="#" >-- -- -- -- -- -- --</option>
                                  {% for feld in list1 %}
                                      <option  value="{{ feld.pk }}"{% if feld.pk == tree.pk %} selected{% endif %}>{{ primebook }} // {{ feld.child }}</option>{% endfor %}
                                  <option value="#" >-- -- -- -- -- -- --</option>
                                  {% for feld in list2 %}
                                      <option  value="{{ feld.pk }}"{% if feld.pk == tree.pk %} selected{% endif %}>{{ primebook }} // {{ feld.parent }} // {{ feld.child }}</option>{% endfor %}
                                  {% endif %}
                                <option value="-.-.-">"---URL--"</option>{% endcomment %}
{#                                <option value="#" >-- -- -- -- -- -- --</option>#}
                                {% for feld in urllist %}
                                    <option value="{{ feld.pk }}"{% if feld.pk == tree.pk %} selected{% endif %}>{{ book.book }}/{{ feld.pfad }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                      {% if tree %}
                          {% if deletepost %}
                              <div class="card-body">
                                <label for="id_pfad" hidden="hidden">child</label>
                                <input type="text" class="form-control text-danger" name="pfad" id="id_pfad" value="Soll der Zweig wirklich gelöscht werden ?" readonly />
                              </div>
                          {% else %}
{#                              <div class="card-body">#}
{#                                <label for="id_child" hidden="hidden">child</label>#}
{#                                <input type="text" class="form-control" name="child" id="id_child" value="{% if tree %}{{ tree.child }}{% endif %}" />#}
{#                                <input type="text" class="form-control" name="child" id="id_child" value="{% if tree %}{{ urlchild }}{% endif %}" />#}
{#                              </div>#}
                              <div class="card-body">
                                <label for="id_pfad" hidden="hidden">child</label>
{#                                <input type="text" class="form-control" name="child" id="id_child" value="{% if tree %}{{ tree.child }}{% endif %}" />#}
                                <input type="text" class="form-control" name="pfad" id="id_pfad" value="{% if tree %}{{ urlchild }}{% endif %}" />
                              </div>
                          {% endif %}
                      {% endif %}
{#                      <div class="row"><div class="col-lg-12"><input type="checkbox" class="form-control" name="direct" id="id_direct"></div> </div>#}
{#                      <div class="card-body">{{ notiz.body }}</div>#}
{#                      <div class="card-body content-markdown">{{ notiz.body }}</div>#}
                      <div class="row">
{#                            <div class="col-lg-1">#}
{#                                <div class="control-label" for="id_direct" hidden>Direkt</div>#}
{#                                <input type="checkbox" class="form-control" name="direct" id="id_direct" title="Für Links ohne Untermenü."></div>#}
                            <div class='col-lg-2'>&nbsp;</div>
                            <div class='col-lg-2'>
{#                                {% if tree %}#}
{#                                    <input type='submit' value='Save Tree' class='btn btn-primary btn-lg btn-block' />#}
{#                                {% elif loeschen %}#}
{#                                    <input type='submit' value='Remove Tree' class='btn btn-danger btn-lg btn-block' />#}
{#                                {% else %}#}
{#                                    <input type='submit' value='Create New Tree' class='btn btn-primary btn-lg btn-block' />#}
{#                                {% endif %}#}
                                {% if not deletepost %}
{#                                    <input type='submit' value='Tree ändern' name="treechange" class='btn btn-warning btn-lg btn-block' disabled />#}
                                    <input type='submit' value='Tree ändern' name="treechange" class='btn btn-warning btn-lg btn-block' />
                                {% endif %}
                            </div>
                            <div class='col-lg-2'>&nbsp;</div>
                            <div class='col-lg-2'>
                                {% if not changepost %}
                                <input type='submit' value='Remove Tree' name="treechange" class='btn btn-danger btn-lg btn-block' />
                                {% endif %}
                            </div>
                        </div>
                      </form>

              </div>

            </div>
            <!-- Content Text Ende-->
          </div>