{#                <div class="input-group-prepend">#}
                    <label class="input-group-text" for="id_wurzel" hidden>Wurzel</label>
{#                </div>#}
                <select class="custom-select" id="id_wurzel" name="wurzel">
                    {% if object %}<option value="{{ object.pk }}" selected>{{ object.parent }} // {{ object.child }}</option>{% else %}
                        {% for feld in list0 %}
                            <option  value="{{ feld.pk }}"{% if feld.pk == object.pk %} selected{% endif %}>{{ primebook }} // {{ feld.child }}</option>{% endfor %}
                        <option value="#" >-- -- -- -- -- -- --</option>
                        {% for feld in list1 %}
                            <option  value="{{ feld.pk }}"{% if feld.pk == object.pk %} selected{% endif %}>{{ primebook }} // {{ feld.child }}</option>{% endfor %}
                        <option value="#" >-- -- -- -- -- -- --</option>
                        {% for feld in list2 %}
                            <option  value="{{ feld.pk }}"{% if feld.pk == object.pk %} selected{% endif %}>{{ primebook }} // {{ feld.parent }} // {{ feld.child }}</option>{% endfor %}
                    {% endif %}
                </select>