<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            <a href="{% url 'webdms:noteview' treeid label.pk %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->

        <!-- Content Text -->
        <div class="col-lg-10 mb-4">

            <!-- Approach -->
            <form action="" method="post">{% csrf_token %}
                <div class="card-header py-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="id_wurzel">Wurzel</label>
                        </div>
                        <select class="custom-select" id="id_wurzel" name="wurzel">
                            <option value="{{ book.pk }}" {% if select == book.slug %} selected{% endif %}>{{ book.book }}</option>
                            {% for feld in urllist %}
                                <option value="{{ feld.pk }}"{% if select == feld.slug %} selected{% endif %}>{{ book.book }}/{{ feld.pfad }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="card-body">
                    <label for="id_child" hidden="hidden">child</label>
                    <input type="text" class="form-control" name="child" id="id_child" value="{% if objtree %}{{ objtree.child }}{% endif %}"/>
                </div>
                <div class="row">
                    <div class='col-lg-3'>&nbsp;</div>
                    <div class='col-lg-3'>
                        {#                                <form action="" method="post">{% csrf_token %}#}
                        {#                                {{form|crispy}}#}
                        {% if object %}
                            <input type='submit' value='Save Tree' class='btn btn-primary btn-lg btn-block'/>
                        {% elif loeschen %}
                            <input type='submit' value='Remove Tree' class='btn btn-danger btn-lg btn-block'/>
                        {% else %}
                            <input type='submit' value='Create New Tree' class='btn btn-primary btn-lg btn-block'/>
                        {% endif %}
                        {#                                </form>#}
                    </div>
                </div>
            </form>

        </div>

    </div>
    <!-- Content Text Ende-->
</div>