{% load templatetag %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-info text-white shadow">
                        <a href="{% url 'webdms:bookadd' %}">
                            <div class="card-body">
                                Neues Buch anlegen
                                {#                      <div class="text-white-50 small">#1cc88a</div>#}
                            </div>
                        </a>
                    </div>
                    <br/>
                    <div class="card bg-info text-white shadow">
                        <a href="{% url 'webdms:menu' %}"><div class="card-body">Menü anlegen</div></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->

        <!-- Content Text -->
        <div class="col-lg-10 mb-4">

            <!-- Approach -->
            <div class="row">
                <div class='col-lg-4 bg-info text-white table-bordered'>Book</div>
                <div class='col-lg-1 bg-info text-white table-bordered'>Urls</div>
                <div class='col-lg-1 bg-info text-white table-bordered'>Dateien</div>
                <div class='col-lg-1 bg-info text-white table-bordered'>KeyWords</div>
                <div class='col-lg-2 bg-info text-white table-bordered'>Gruppe</div>
                <div class='col-lg-2 bg-info text-white table-bordered'>Aktiv</div>
            </div>
            {% for book in booklist %}
            <div class="row {% cycle 'bg-gray-100' 'bg-gray-200' %}">
                <div class='col-lg-4'><a href="{% url 'webdms:bookedit' book.slug %}">{{ book.book }}</a></div>
                <div class='col-lg-1'>{{ book|counturl }}</div>
                <div class='col-lg-1'>{{ book|countdateien }}</div>
                <div class='col-lg-1'>{{ book|countbookschluessel }}</div>
                <div class='col-lg-2'>{{ book.gruppe }}</div>
                <div class='col-lg-2'>{{ book.is_active }}</div>
            </div>
            {% endfor %}
            {% if addbook %}
                <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class='col-lg-4 table-bordered'>
                        <label for="id_book" hidden="hidden">Book</label>
                        <input type="text" class="form-control" name="book" id="id_book" value="{% if object %}{{ object.book }}{% endif %}" />
                    </div>
                    <div class='col-lg-1 table-bordered'>
                        <label for="id_counttree" hidden="hidden">Url</label>
                        <input type="text" class="form-control" name="counttree" id="id_counttree" value="0" readonly /></div>
                    <div class='col-lg-1 table-bordered'>
                        <label for="id_countnote" hidden="hidden">Datei</label>
                        <input type="text" class="form-control" name="countnote" id="id_countnote" value="0" readonly /></div>
                    <div class='col-lg-1 table-bordered'>
                        <label for="id_countkeyword" hidden="hidden">Schluessel</label>
                        <input type="text" class="form-control" name="countkeyword" id="id_countkeyword" value="0" readonly /></div>
                    <div class='col-lg-2 table-bordered'>
                        <label for="id_gruppe" hidden="hidden">Gruppe</label>
                        <input type="text" class="form-control" name="gruppe" id="id_gruppe" value="{{ mygruppe }}" readonly />
                    </div>
                    <div class='col-lg-2 table-bordered'>
                        <label for="id_is_active" hidden="hidden">Aktiv</label>
                        <input type="text" class="form-control" name="is_active" id="id_is_active" value="False" readonly />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class='col-lg-4'>
                        {% if object %}
                            <input type='submit' value='Save Book' name="subbook" class='btn btn-success btn-lg btn-block' />
                        {% else %}
                            <input type='submit' value='Create New Book' name="subbook" class='btn btn-success btn-lg btn-block' />
                        {% endif %}
                    </div>
                    <div class='col-lg-2'>&nbsp;</div>
                    <div class='col-lg-2'>
                        {% if object %}
                            <input type='submit' value='Remove Book' name="subbook" class='btn btn-danger btn-lg btn-block' />
                        {% endif %}
                    </div>
                </div>
                </form>
            {% endif %}
        </div>

    </div>
    <!-- Content Text Ende-->
</div>