{% load babel %}
{% load templatetag %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% comment %}                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Success
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>{% endcomment %}
            </div>
        </div>
        <!-- Content Link-Menü Ende-->


        <!-- Content Text -->
        <div class="col-lg-10 mb-4">

            <!-- Approach -->
            <form action="{% url 'webdms:bookrestore' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% if form.errors %}
                    <div class="row"> <div class='col-lg-4'>{{ form.errors }}</div></div>
                {% endif %}
{#                 <div class="row">#}
{#                     <div class='col-lg-4'>#}
{#                        <label for="exampleInputFile">Datei auswählen</label>#}
{#                        <input type="file" id="id_file" name="file">#}
{#                        <p class="help-block">Books einlesen / wieder herstellen.</p>#}
{#                     </div>#}
{#                 </div>#}
                <div class="row">
                    <div class='col-lg-3 bg-info text-white table-bordered'>Book</div>
                    <div class='col-lg-2 bg-info text-white table-bordered'>Datum</div>
{#                    <div class='col-lg-1 bg-info text-white table-bordered'>Trees</div>#}
                    <div class='col-lg-1 bg-info text-white table-bordered'>Url</div>
                    <div class='col-lg-1 bg-info text-white table-bordered'>Notes</div>
                    <div class='col-lg-1 bg-info text-white table-bordered'>KeyWords</div>
                    <div class='col-lg-1 bg-info text-white table-bordered'>Neu</div>
                    <div class='col-lg-1 bg-info text-white table-bordered'>Ersetzen</div>
                    <div class='col-lg-1 bg-info text-white table-bordered'>Zusammen</div>
                </div>
            {% for book in restorelist %}
            <div class="row {% cycle 'bg-gray-100' 'bg-gray-200' %}">
                <div class='col-lg-3'>{{ book.book }}</div>
                <div class='col-lg-2'>{{ book.datum_xml|datetimefmt:"short" }}</div>
{#                <div class='col-lg-1'>{{ book.trees }}</div>#}
                <div class='col-lg-1'>{{ book.urlpaths }}</div>
                <div class='col-lg-1'>{{ book.notes }}</div>
                <div class='col-lg-1'>{{ book.keywords }}</div>
                {% if book|vorhanden %}
                    <div class='col-lg-1'>
                        <label class="control-label" for="id_books-neu__{{ forloop.counter0 }}" hidden>Books:</label>
                        <input type="checkbox" class="form-control" name="books-neu__{{ forloop.counter0 }}" id="id_books-neu__{{ forloop.counter0 }}" value="{{ book.pk }}" disabled />
                    </div>
{#                    <fieldset>#}
                    <div class='col-lg-1'>
                        <label class="control-label" for="id_books-vorhanden__{{ forloop.counter0 }}" hidden>Books:</label>
{#                        <input type="radio" class="form-control" name="books-ersetzen__{{ forloop.counter0 }}" id="id_books-ersetzen__{{ forloop.counter0 }}" value="{{ book.pk }}" />#}
                        <input type="radio" class="form-control" name="books-vorhanden__{{ forloop.counter0 }}" id="id_books-vorhanden__{{ forloop.counter0 }}" value="E___{{ book.pk }}" />
                    </div>
                    <div class='col-lg-1'>
                        <label class="control-label" for="id_books-vorhanden__{{ forloop.counter0 }}" hidden>Books:</label>
                        <input type="radio" class="form-control" name="books-vorhanden__{{ forloop.counter0 }}" id="id_books-vorhanden__{{ forloop.counter0 }}" value="Z___{{ book.pk }}" />
                    </div>
{#                    </fieldset>#}
                {% else %}
                    <div class='col-lg-1'>
                        <label class="control-label" for="id_books-neu__{{ forloop.counter0 }}" hidden>Books:</label>
                        <input type="checkbox" class="form-control" name="books-neu__{{ forloop.counter0 }}" id="id_books-neu__{{ forloop.counter0 }}" value="{{ book.pk }}" />
                    </div>
                    <div class='col-lg-1'>
                        <label class="control-label" for="id_books-ersetzen__{{ forloop.counter0 }}" hidden>Books:</label>
                        <input type="radio" class="form-control" name="books-vorhanden__{{ forloop.counter0 }}" id="id_books-ersetzen__{{ forloop.counter0 }}" value="{{ book.pk }}" disabled />
                    </div>
                    <div class='col-lg-1'>
                        <label class="control-label" for="id_books-zusammen__{{ forloop.counter0 }}" hidden>Books:</label>
                        <input type="radio" class="form-control" name="books-vorhanden__{{ forloop.counter0 }}" id="id_books-zusammen__{{ forloop.counter0 }}" value="{{ book.pk }}" disabled />
                    </div>
                {% endif %}
            </div>
            {% endfor %}
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-lg-6"><input type='submit' value='Restore Starten' name="command" class='btn btn-warning btn-lg btn-block'/></div></div></div>
            </form>
            <div class="row">
                <div class='col-lg-4'>&nbsp;</div>
                <div class='col-lg-3'></div>
            </div>

        </div>

    </div>
    <!-- Content Text Ende-->
</div>