<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
{% comment %}                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->
        <!-- Content Text -->
        <div class="col-lg-10 mb-4">

            <!-- Approach -->
            <form action="{% url 'webdms:bookrestore' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                {% if form.errors %}
                    <div class="row"> <div class='col-lg-4'>{{ form.errors }}</div></div>
                {% endif %}
                 <div class="row">
                     <div class='col-lg-4'>
                        <label for="exampleInputFile">Datei auswählen</label>
                        <input type="file" id="id_file" name="file">
                        <p class="help-block">Books einlesen / wieder herstellen.</p>
                     </div>
                 </div>
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-lg-2">&nbsp;</div>
                        <div class="col-lg-4"><input type='submit' value='Datei laden' name="command" class='btn btn-warning btn-lg btn-block'/></div>
{% comment %}                        <div class="col-lg-1">&nbsp;</div>
                        <div class="col-lg-4"><a href="{% url 'webdms:bookmedia' %}" role="button" class="btn btn-primary btn-lg btn-block">Vorhandene Sicherungen</a></div>{% endcomment %}
                    </div>
                    <br />

                    {% for dtfl in backuplist %}
                        <div class="row">
                            <div class="col-lg-1"><a href="{% url 'webdms:bookmedia' 'loeschen' dtfl %}" title="Datei löschen">{{ forloop.counter }}</a></div>
                            <div class="col-lg-6"><a href="{% url 'webdms:bookmedia' 'download' dtfl %}" title="Datei download">{{ dtfl }}</a></div>
                            <div class="col-lg-2"><a href="{% url 'webdms:bookmedia' 'restore' dtfl %}" role="button" class="btn btn-warning btn-sm btn-block">Restore</a></div>
                        </div>
                    {% empty %}
                        <div class="row">
                            <div class="col-lg-12">Keine Dateien vorhanden</div>
{#                            <div class="col-lg-6"><a href="#" title="Datei download">duisburg___2019-12-17_15-11-02.7z</a></div>#}
{#                            <div class="col-lg-2"><a href="#" role="button" class="btn btn-warning btn-sm btn-block">Restore</a></div>#}
                        </div>
                    {% endfor %}
                </div>
            </form>
            <div class="row">
                <div class='col-lg-4'>&nbsp;</div>
                <div class='col-lg-3'></div>
            </div>

        </div>

    </div>
    <!-- Content Text Ende-->
</div>