<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->

        <!-- Content Text -->
        <div class="col-lg-10 mb-4">
            <!-- Approach -->
            {% if addnotiz %}
                <form action="" method="post">{% csrf_token %}
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-lg-4">
                                <label class="control-label" for="id_label">Label</label>
                                <input type="text" class="form-control" name="label" id="id_label" value="{% if notiz %}{{ notiz.label }}{% endif %}"/>
                            </div>
                            <div class="col-lg-4">
                                {#                            {% include "tree_change_combo.html" %}#}
                                <label class="control-label" for="id_tree">Wurzel</label>
                                <select class="custom-select" id="id_tree" name="tree">
                                    <option value="None">-- -- -- -- -- -- --</option>
                                    {% if tree %}
                                        <option value="{{ treeid }}" selected>{{ tree.parent }}
                                            // {{ tree.child }}</option>
                                    {% else %}
                                        {% for feld in list0 %}
                                            <option value="{{ feld.pk }}"{% if feld.pk == treeid %} selected{% endif %}>{{ book }} // {{ feld.child }}</option>
                                        {% endfor %}
                                        {% for feld in list2 %}
                                            <option value="{{ feld.pk }}"{% if feld.pk == treeid %} selected{% endif %}>{{ feld.book.slug }} // {{ feld.parent }} // {{ feld.child }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label class="control-label" for="id_schluessel">KeyWord</label>
                                <select class="custom-select" id="id_schluessel" name="schluessel">
                                    <option value="">-- -- -- -- -- -- --</option>
                                    {% for key in schluessellist %}
                                        <option value="{{ key.pk }}"{% if key.pk == notiz.schluessel.pk %} selected{% endif %}>{{ key.schluessel }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label for="id_content" hidden>Content</label>
                        {# In custom.js kann Menü und andere Punkte definiert werden #}
                        <textarea id="id_content" name="content">
                            {% if notiz %}{{ notiz.content }}{% endif %}
                        </textarea>
                    </div>
                    <div class="row">
                        <div class='col-lg-4'>&nbsp;</div>
                        <div class='col-lg-3'>
                            {#                                {{form|crispy}}#}
                            {% if notiz %}
                                <input type='submit' value='Save Note' class='btn btn-success btn-lg btn-block'/>
                                {#                                {% elif loeschen %}#}
                                {#                                    <input type='submit' value='Remove Note' class='btn btn-primary btn-lg btn-block' />#}
                            {% else %}
                                <input type='submit' value='Create New Note!' class='btn btn-success btn-lg btn-block'/>
                            {% endif %}
                        </div>
                    </div>
                </form>
            {% elif loeschen %}
                <form action="" method="post">{% csrf_token %}
                    <div class="card-header py-3">
                        <label class="control-label text-danger" for="id_label">Notiz wirklich löschen ?</label>
                        <input type="text" class="form-control" name="label" id="id_label" value="{{ loeschen.label }}" readonly />
                    </div>
                    <label for="id_content" hidden>Conten löschen</label>
                    <input type="text" class="form-control" name="content" id="id_content" value="Content löschen"
                           hidden/>
                    <div class="card-body content-markdown">{{ loeschen.content }}</div>
                    <div class="row">
                        <div class='col-lg-4'>&nbsp;</div>
                        <div class='col-lg-3'>
                            {#                                <form action="" method="post">{% csrf_token %}#}
                            {#                                {{form|crispy}}#}
                            {% if tree %}
                                <input type='submit' value='Save Note' class='btn btn-success btn-lg btn-block'/>
                            {% elif loeschen %}
                                <input type='submit' value='Remove Note' class='btn btn-danger btn-lg btn-block'/>
                            {% else %}
                                <input type='submit' value='Create New Note!' class='btn btn-success btn-lg btn-block'/>
                            {% endif %}
                            {#                                </form>#}
                        </div>
                    </div>
                </form>
            {% elif notiz %}
                <div class="card-header py-3">
                    <div class="row">
                        <div class='col-lg-8'>
                            <h6 class="m-0 font-weight-bold text-primary">
                            <a href="{% url 'webdms:notechange' notiz.slug %}" title="bearbeiten">
                                <i class="fas fa-fw fa-wrench"></i> {{ notiz.label }}</a></h6>
                        </div>
                        <div class='col-lg-4'>{{ notiz.keyword.keyword }}</div>
                    </div>
                </div>
                <div class="card-body content-markdown">{{ notiz.content }}</div>
            {% else %}
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Dateien im Tree</h6>
                </div>
                <div class="card-body">
                    {% for datei in beleglist %}
                        <a href="{% url 'dms:dateidownload' treeslug datei.name  %}">{{ datei.originalname }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Content Text Ende-->
</div>
