{% load templatetag %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
{% comment %}                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->


        <!-- Content Text -->
        <div class="col-lg-10 mb-4">

            <!-- Approach -->
            <form action="" method="post">{% csrf_token %}
                <div class="row">
                <div class='col-lg-4 bg-info text-white table-bordered'>Book</div>
                <div class='col-lg-1 bg-info text-white table-bordered'>Url</div>
                <div class='col-lg-1 bg-info text-white table-bordered'>Dateien</div>
                <div class='col-lg-1 bg-info text-white table-bordered'>Keywords</div>
                <div class='col-lg-1 bg-info text-white table-bordered'>Sichern</div>
            </div>
            {% for book in booklist %}
            <div class="row {% cycle 'bg-gray-100' 'bg-gray-200' %}">
                <div class='col-lg-4'>{{ book.book }}</div>
                <div class='col-lg-1'>{{ book|counturl }}</div>
                <div class='col-lg-1'>{{ book|countdateien }}</div>
                <div class='col-lg-1'>{{ book|countbookschluessel }}</div>
                <div class='col-lg-1'>
{#                    Checkbox zur Mehrfachauswahl#}
{#                    <label class="control-label" for="id_books__{{ forloop.counter0 }}" hidden>Books:</label>#}
{#                    <input type="checkbox" class="form-control" name="books__{{ forloop.counter0 }}" id="id_books__{{ forloop.counter0 }}" value="{{ book.pk }}"  />#}
                    <label class="control-label" for="id_books" hidden>Books:</label>
                    <input type="radio" class="form-control" name="books" id="id_books" value="{{ book.pk }}" />
                </div>
            </div>
            {% endfor %}
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-lg-2">&nbsp;</div>
                            <div class="col-lg-4"><input type='submit' value='Sicherung Starten' class='btn btn-primary btn-lg btn-block'/></div>
{% comment %}                            <div class="col-lg-1">&nbsp;</div>
                            <div class="col-lg-4"><a href="#" role="button" class="btn btn-primary btn-lg btn-block">Vorhandene Sicherungen</a></div>{% endcomment %}
                        </div></div>
            </form>
            <div class="row">
                <div class='col-lg-4'>&nbsp;</div>
                <div class='col-lg-3'></div>
            </div>

        </div>

    </div>
    <!-- Content Text Ende-->
</div>