<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% comment %}                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Success
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>{% endcomment %}
            </div>
        </div>
        <!-- Content Link-Menü Ende-->


        <!-- Content Text -->
        <div class="col-lg-10 mb-4">

            <!-- Approach -->
            <div class="row">
                <div class='col-lg-4'>&nbsp;</div>
                <div class='col-lg-3'></div>
            </div>

        </div>

    </div>
    <!-- Content Text Ende-->
</div>