<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
{#            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>#}
{#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-lg-10 mb-4">
{#            <div class="col-lg-10 mb-4">#}

              <!-- Approach -->
              <div class="card shadow mb-4">
                  {% if notiz %}
{% comment %}                      <div class="row">
                        <div class="col-lg-10 mb-4"><div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">{{ notiz.label }}</h6></div></div>
                        <div class="col-lg-2 mb-4"><div class="card-header py-3"><h6 align="right"><a  href="#">update or delete</a></h6></div></div>
                      </div>{% endcomment %}
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary"><a href="" title="bearbeiten"><i class="fas fa-fw fa-wrench"></i></a> {{ notiz.label }}</h6></div>
{#                      <div class="card-body">{{ notiz.body }}</div>#}
                      <div class="card-body">{{ notiz.content }}</div>
                  {% else %}
                <div class="card-header py-3">
{% comment %}                    {% if angemeldet %}
                        <h6 class="m-0 font-weight-bold text-primary">Erfolgreich angemeldet</h6>
                    {% else %}
                  <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'mysite_basic_login' %}">Startseite</a></h6>
                    {% endif %}{% endcomment %}
                    <h6 class="m-0 font-weight-bold text-primary">Text oder Linkseite</h6>
                </div>
                <div class="card-body">
                    <p>Text oder Linkanzeige hier einbauen</p>
                    <p>Auch ein nettes Hintergrundbild macht Sinn, da die Menüs ausgeblendet sind, bis der Login erfolgt ist.</p>
                </div>
                  {% endif %}
              </div>

            </div>

            <!-- Content Column -->
            <div class="col-lg-2 mb-4">

              <!-- Project Card Example -->

              <!-- Color System -->

              <div class="row">
                <div class="col-lg-12 mb-4">
{#                  <div class="card bg-primary text-white shadow">#}
{#                    <div class="card bg-primary text-white shadow">#}
{#                    <div class="card-body"><a href="{% url 'webdms:noteview' note.pk %}">Label zu Notiz als Link</a>#}
{#                    <div class="card-body"><a href="#">Label zu Notiz als Link</a></div>#}
{#                    <div class="card-body"><a href="#">Das ist Text 2</a></div>#}
{#                    <div class="card-body"><a href="#">Und noch ein Link</a></div>#}
{#                      Primary<div class="text-white-50 small">#4e73df</div>#}
{#                    </div>#}
                    <div class="list-group">
{#                        <a href="#" class="list-group-item list-group-item-action">Label zu Notiz als Link</a>#}
{#                        <a href="#" class="list-group-item list-group-item-action">Das ist Text 2</a>#}
{#                        <a href="#" class="list-group-item list-group-item-action">Und noch ein Link</a>#}
                        {% for label in notelist %}
                            <a href="{% url 'webdms:noteview' treeid label.pk %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                        {% endfor %}
                    </div>
                  </div>
{% comment %}                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Success
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>{% endcomment %}
              </div>


            </div>

          </div>

        </div>
