<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-4 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group zeigemax">
                        {% for dtlb in dateilist %}
{#                            <a href="{% url 'webdms:path:datei' dtlb.pfad.slug dtlb.slug %}" class="list-group-item list-group-item-action list-group-item-info" title="{{ dtlb.book.book }} /// {{ dtlb.pfad.pfad }} ///{{ dtlb.label }}">{{ dtlb.label }}</a>#}
                            <a href="{% url 'webdms:path:datei' dtlb.pfad.slug dtlb.slug %}" class="list-group-item list-group-item-action list-group-item-warning" title="{{ dtlb.book.book }}//{{ dtlb.pfad.filesubpath }}/{{ dtlb.label }}">{{ dtlb.label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->

        <!-- Content Text -->
        <div class="col-lg-8 mb-4">
            <!-- Approach -->
            {% for datei in dateilist %}
            {% empty %}
                Keine Dateien mit dem Keyword
            {% endfor %}
        </div>

    </div>
    <!-- Content Text Ende-->
</div>
