<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
          </div>

        <!-- Content Row -->
          <div class="row">
            <!-- Content Link-Menü -->
            <div class="col-lg-2 mb-4">
              <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
{#                            <a href="{% url 'webdms:noteview' treeid label.pk %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>#}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}" class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                            <a href="{% url 'webdms:noteview' treeslug label.slug %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
              </div>
            </div>
            <!-- Content Link-Menü Ende-->


            <!-- Content Text -->
            <div class="col-lg-10 mb-4">
              <!-- Tree zum ändern -->

              <!-- Approach -->
                  {% if addnotiz %}
                      <form action="" method="post">{% csrf_token %}
                      <div class="card-header py-3">
                        <label class="control-label" for="id_label">Label</label>
                        <input type="text" class="form-control" name="label" id="id_label" value="{% if object %}{{ object.label }}{% endif %}" />
                      </div>
                      <div class="card-body">
                        <label for="id_content" hidden>Content</label>

                          <textarea id="id_content" name="content">
                            {% if object %}{{ object.content }}{% endif %}
                          </textarea>
                      </div>
                      <div class="row">
                            <div class='col-lg-4'>&nbsp;</div>
                            <div class='col-lg-3'>
{#                                <form action="" method="post">{% csrf_token %}#}
{#                                {{form|crispy}}#}
                                {% if object %}
                                    <input type='submit' value='Save Note' class='btn btn-success btn-lg btn-block' />
{#                                {% elif loeschen %}#}
{#                                    <input type='submit' value='Remove Note' class='btn btn-primary btn-lg btn-block' />#}
                                {% else %}
                                    <input type='submit' value='Create New Note!' class='btn btn-success btn-lg btn-block' />
                                {% endif %}
{#                                </form>#}
                            </div>
                        </div>
                      </form>
                {% elif loeschen %}
                      <form action="" method="post">{% csrf_token %}
                      <div class="card-header py-3">
                        <label class="control-label text-danger" for="id_label">Notiz wirklich löschen ?</label>
                        <input type="text" class="form-control" name="label" id="id_label" value="{{ loeschen.label }}" readonly />
                      </div>
                      <label for="id_content" hidden>Conten löschen</label>
                      <input type="text" class="form-control" name="content" id="id_content" value="Content löschen" hidden />
                      <div class="card-body content-markdown">{{ loeschen.content }}</div>
{#                      <div class="card-body">{{ notiz.body }}</div>#}
{#                      <div class="card-body content-markdown">{{ notiz.body }}</div>#}
                      <div class="row">
                            <div class='col-lg-4'>&nbsp;</div>
                            <div class='col-lg-3'>
{#                                <form action="" method="post">{% csrf_token %}#}
{#                                {{form|crispy}}#}
                                {% if object %}
                                    <input type='submit' value='Save Note' class='btn btn-success btn-lg btn-block' />
                                {% elif loeschen %}
                                    <input type='submit' value='Remove Note' class='btn btn-danger btn-lg btn-block' />
                                {% else %}
                                    <input type='submit' value='Create New Note!' class='btn btn-success btn-lg btn-block' />
                                {% endif %}
{#                                </form>#}
                            </div>
                        </div>
                      </form>
                  {% elif notiz %}
                       <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'webdms:notechange' notiz.slug %}" title="bearbeiten"><i class="fas fa-fw fa-wrench"></i> {{ notiz.label }}</a></h6></div>
                      <div class="card-body content-markdown">{{ notiz.content }}</div>
                  {% else %}
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Text oder Linkseite</h6>
                    </div>
                    <div class="card-body">
                        <p>Text oder Linkanzeige hier einbauen</p>
                        <p>Auch ein nettes Hintergrundbild macht Sinn, da die Menüs ausgeblendet sind, bis der Login erfolgt ist.</p>
                    </div>
                  {% endif %}
              </div>

            </div>
            <!-- Content Text Ende-->
          </div>
