<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-4 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group zeigemax">
                        {% for dtlb in dateilist %}
{#                            <a href="{% url 'webdms:keywordsviewnotes' dtlb.book.slug dtlb.pfad.slug dtlb.slug %}"#}
{#                                class="list-group-item list-group-item-action list-group-item-info" title="{{ dtlb.book.book }} /// {{ dtlb.tree.child }} /// {{ dtlb.label }}">{{ dtlb.label }}</a>#}
                            <a href="{% url 'webdms:path:datei' dtlb.pfad.slug dtlb.slug %}" class="list-group-item list-group-item-action list-group-item-warning" title="{{ dtlb.pfad.filesubpath }}/{{ dtlb.label }}">{{ dtlb.label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->

        <!-- Content Text -->
        <div class="col-lg-8 mb-4">
            <!-- Approach -->
            <div class="card-header py-3">
                <div class="row">
                    <div class='col-lg-8'>
                        <h6 class="m-0 font-weight-bold text-primary">
                            <a href="{% url 'webdms:path:notechange' object.slug %}" title="bearbeiten">
                                <i class="fas fa-fw fa-wrench"></i> {{ object.label }}</a>
                        </h6>
                    </div>
                    <div class="col-lg-3">
                        {% for key in schluessellist %}
                            <div class="row table-bordered">
                                <div class="col-lg-3">
                                    <label class="control-label" for="{{ key.id }}" hidden>q</label>
                                    <input type="checkbox" class="form-control" name="kwschluessel__{{ key.id }}" id="{{ key.id }}"{% if key in usedschluessellist %} checked="checked"{% endif %} value="{{ key.pk }}" />
                                </div>
                                <div class="col-lg-9">{{ key.schluessel }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-body content-markdown">{{ object.hinweis }}</div>
        </div>

    </div>
    <!-- Content Text Ende-->
</div>
