<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'webdms:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                      <a href="{% url 'webdms:bookadd' %}">
                    <div class="card-body">
                      Neues Buch anlegen
{#                      <div class="text-white-50 small">#1cc88a</div>#}
                    </div></a>
                  </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->


        <!-- Content Text -->
        <div class="col-lg-10 mb-4">

            <!-- Approach -->
            <div class="row">
                <div class='col-lg-4 bg-info text-white table-bordered'>Book</div>
                <div class='col-lg-4 bg-info text-white table-bordered'>Gruppe</div>
                <div class='col-lg-4 bg-info text-white table-bordered'>Aktiv</div>
            </div>
            {% for book in bookdeleteslist %}
            <div class="row {% cycle 'bg-gray-100' 'bg-gray-200' %}">
                <div class='col-lg-4 bg-warning text-body'>{{ book.book }}</div>
                <div class='col-lg-4 bg-warning text-body'>{{ book.gruppe }}</div>
                <div class='col-lg-4 bg-warning text-body'>{{ book.is_active }}</div>
            </div>
            {% endfor %}
            <br />
            <div class="row">
                <div class='col-lg-12'>
                    <p>Das Buch enthält noch Daten (Notizen, Tree oder Tags).</p>
                    <p class="text-danger">Soll das Buch trotzdem gelöscht werden ?</p>
                </div>
{#                <div class='col-lg-4 bg-info text-white table-bordered'>Gruppe</div>#}
{#                <div class='col-lg-4 bg-info text-white table-bordered'>Aktiv</div>#}
            </div>
{#            {% if addbook %}#}
            <form action="" method="post">{% csrf_token %}
                <div class='col-lg-4 table-bordered' hidden>
                    <label for="id_book" hidden="hidden">Book</label>
                    <input type="text" class="form-control" name="book" id="id_book" value="{% if object %}{{ object.pk }}{% endif %}" />
                </div>

{% comment %}                <div class="row">
                    <div class='col-lg-4 table-bordered'>
                        <label for="id_book" hidden="hidden">Book</label>
                        <input type="text" class="form-control" name="book" id="id_book" value="{% if object %}{{ object.book }}{% endif %}" />
                    </div>
                    <div class='col-lg-4 table-bordered'>
                        <label for="id_gruppe" hidden="hidden">Gruppe</label>
                        <input type="text" class="form-control" name="gruppe" id="id_gruppe" value="{{ mygruppe }}" readonly />
                    </div>
                    <div class='col-lg-4 table-bordered'>
                        <label for="id_is_active" hidden="hidden">Aktiv</label>
{#                        <input type="text" class="form-control" name="is_active" id="id_is_active" value="{% if object %}{{ object.is_active }}{% endif %}" />#}
                        <input type="text" class="form-control" name="is_active" id="id_is_active" value="False" readonly />
                    </div>
                </div>
                <br />{% endcomment %}
                <div class="row">
                    <div class='col-lg-3'>
                        {% if object %}
                            <input type='submit' value='Remove Book' name="subbook" class='btn btn-danger btn-block' />
                        {% endif %}
{#                        {% if object %}#}
{#                            <input type='submit' value='Save Book' name="subbook" class='btn btn-success btn-lg btn-block' />#}
{#                        {% else %}#}
{#                            <input type='submit' value='Create New Book' name="subbook" class='btn btn-success btn-lg btn-block' />#}
{#                        {% endif %}#}
                    </div>
                    <div class='col-lg-3'>&nbsp;</div>
                    <div class='col-lg-3'><a href="{% url 'webdms:bookview' %}" role="button" class="btn btn-primary btn-block">Zurück</a></div>
{#                    <div class='col-lg-4'>#}
{#                        {% if object %}#}
{#                            <input type='submit' value='Remove Book' name="subbook" class='btn btn-danger btn-lg btn-block' />tn#}
{#                        {% endif %}#}
{#                    </div>#}
                </div>
            </form>
{#            {% endif %}#}
        </div>

    </div>
    <!-- Content Text Ende-->
</div>