{% extends "buchbase.html" %}
{% load i18n %}
{% block title %}Anmeldung{% endblock %}

{% block content %}
   <form action="" method="post">{% csrf_token %}
{% comment %}       <div>
           {% if form.errors %}
               <p class="errornote">
                   {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                       {% trans "Please correct the errors below." %}{% endif %}
               </p>
           {% endif %}
       </div>{% endcomment %}
{#{% block form_top %}#}

{#  {% if not is_popup %}#}
{#    <p>{% trans "First, enter a username and password. Then, you'll be able to edit more user options." %}</p>#}
{#  {% else %}#}
    <p>{% trans "Enter a username and password." %}</p>
    <fieldset class="module aligned wide">
        <div class="form-group">
            {% if userror %}
                <label class="control-label text-danger" for="id_username">Der Benutzername ist schon vorhanden.</label>
            {% else %}
                <label class="control-label" for="id_username">Benutzername:</label>
            {% endif %}
            <input type="text" class="form-control" name="username" id="id_username" value="{{ fuser }}">
        </div>
        <div class="form-group">
            {% if pwerror %}
                <label class="control-label text-danger" for="id_new_password1">Die beiden Passwörter sind nicht identisch.</label>
            {% else %}
                <label class="control-label" for="id_new_password1">Passwort:</label>
            {% endif %}
            <input type="password" class="form-control" name="new_password1" id="id_new_password1">
        </div>
        <div class="form-group">
            <label class="control-label" for="id_new_password2">Passwort bestätigen:</label>
            <input type="password" class="form-control" name="new_password2" id="id_new_password1">
        </div>
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Benutzer anlegen" class="default"/>
    </div>
    </form>
{#  {% endif %}#}
{% endblock %}
{% comment %}
    <div class="submit-row">
        <input type="submit" value="{% trans 'Change my password' %}" class="default"/>
    </div>
{% block after_field_sets %}
<script type="text/javascript">document.getElementById("id_username").focus();</script>
{% endblock %}
{% endcomment %}
