{% extends "buchbase.html" %}
{% load i18n %}

{% block title %}Abgemeldet{% endblock %}

{% block content %}

<p>Vielen Dank, dass Sie hier ein paar nette Minuten verbracht haben.</p>

<p><a href="{% url 'mysite_login' %}">{% trans 'Log in again' %}</a></p>

{% endblock %}
