{% extends "basicbase.html" %}

{% block title %}Anmeldung{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="form-group"><label for="username" class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <p class="text-danger">Entschuldigung, dies ist kein gültiger Benutzername oder Passwort.</p>
            </div>
        </div>
    {% endif %}

    {% if not user.is_authenticated %}
        <form class="form-horizontal" action="{% url 'mysite_basic_login' %}" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Benutzername</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" id="username" value="" placeholder="Benutzername">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Passwort</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" value="" id="password" placeholder="Passwort">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Anmelden</button>
                </div>
            </div>
        </form>
    {% else %}
        <a href="{% url 'mysite_startpage' %}">Zur Startseite</a>
    {% endif %}

{% endblock %}
