{% extends "basicbase_pw.html" %}
{% load i18n %}

{% block title %}Passwort erfolgreich geändert{% endblock %}

{% block content %}

<p>Ihr Passwort wurde geändert. <a href="{% url 'web_scribble_notes:index' %}">Zur Startseite</a> </p>

{% endblock %}
