{% extends "basicbase_pw.html" %}
{% load i18n admin_static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
{#            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>#}
{#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
          </div>

        <!-- Content Row -->
          <div class="row">
                      <!-- Content Link-Menü -->
            <div class="col-lg-2 mb-4">
              <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
{% comment %}                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'web_scribble_notes:noteview' treeslug label.slug %}" class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                            <a href="{% url 'web_scribble_notes:noteview' treeslug label.slug %}" class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}{% endcomment %}
                    </div>
                  </div>
{% comment %}                <div class="col-lg-6 mb-4">
                  <div class="card bg-success text-white shadow">
                    <div class="card-body">
                      Success
                      <div class="text-white-50 small">#1cc88a</div>
                    </div>
                  </div>
                </div>{% endcomment %}
              </div>
            </div>
            <!-- Content Link-Menü Ende-->
    <form action="" method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}
                </p>
                <div class="row text-danger"><div class="col-lg-12">{{ form.errors }}</div></div>
            {% endif %}

            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

            <fieldset class="module aligned wide">

                {% if form.old_password.errors %}
                    <div class="form-group has-error has-feedback">
                        <label class="control-label" for="id_old_password">Das alte Passwort war falsch. Bitte neu
                            eingeben.</label>
                        <input type="password" class="form-control" id="id_old_password" name="old_password"
                               aria-describedby="inputError2Status">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span id="inputError2Status" class="sr-only">(error)</span>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="control-label" for="id_old_password">Altes Passwort:</label>
                        <input type="password" class="form-control" name="old_password" id="id_old_password">
                    </div>
                {% endif %}

                {% if form.new_password1.errors or form.new_password2.errors %}
                    <div class="form-group has-error has-feedback">
                        <label class="control-label" for="id_new_password1">Die beiden Passwörter sind nicht
                            identisch.</label>
                        <input type="password" class="form-control" name="new_password1" id="id_new_password1"
                               aria-describedby="inputError2Status">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span id="inputError2Status" class="sr-only">(error)</span>
                    </div>
                    <div class="form-group has-error has-feedback">
                        <label class="control-label" for="id_new_password2">Die beiden Passwörter sind nicht
                            identisch.</label>
                        <input type="password" class="form-control" name="new_password2" id="id_new_password2"
                               aria-describedby="inputError2Status">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span id="inputError2Status" class="sr-only">(error)</span>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="control-label" for="id_new_password1">Neues Passwort:</label>
                        <input type="password" class="form-control" name="new_password1" id="id_new_password1">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_new_password2">Neues Passwort:</label>
                        <input type="password" class="form-control" name="new_password2" id="id_new_password1">
                    </div>
                {% endif %}

            </fieldset>

            <div class="submit-row">
{#                <div class="col-lg-3">#}
                <input type="submit" value="{% trans 'Change my password' %}" class="default"/>

            </div>

            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
        </div>

    </form>
    </div>
</div>
{% endblock %}
