{% extends "buchbase.html" %}
{% load i18n %}
{% block title %}Anmeldung{% endblock %}

{% block content %}
   <form action="" method="post">{% csrf_token %}
    <p>Bitte geben sie ein neuse Passwort für den Benutzer ein</p>
    <fieldset class="module aligned wide">
        <div class="row">
            <div class="col-xs-3">
                <label class="control-label" for="id_username">Benutzername:</label>
                <input type="text" class="form-control" name="username" id="id_username" value="{{ formuser.username }}" readonly />
            </div>
            <div class="col-xs-3">
                <label class="control-label" for="id_vorname">Vorname:</label>
                <input type="text" class="form-control" name="vorname" id="id_vorname" value="{{ formuser.first_name }}" readonly />
            </div>
            <div class="col-xs-3">
                <label class="control-label" for="id_nachname">Nachname:</label>
                <input type="text" class="form-control" name="nachname" id="id_nachname" value="{{ formuser.last_name }}" readonly />
            </div>
            <div class="col-xs-3">
                <label class="control-label" for="id_email">Email:</label>
                <input type="text" class="form-control" name="email" id="id_email" value="{{ formuser.email }}" readonly />
            </div>
        </div>
        <div class="form-group">
            {% if pwerror %}
                <label class="control-label text-danger" for="id_new_password1">Die beiden Passwörter sind nicht identisch.</label>
            {% else %}
                <label class="control-label" for="id_new_password1">Passwort:</label>
            {% endif %}
            <input type="password" class="form-control" name="new_password1" id="id_new_password1">
        </div>
        <div class="form-group">
            <label class="control-label" for="id_new_password2">Passwort bestätigen:</label>
            <input type="password" class="form-control" name="new_password2" id="id_new_password1">
        </div>
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Passwort ändern" class="default"/>
    </div>
    </form>
{% endblock %}
