<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-2 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group">
                        {% for label in notelist %}
                            {% if label.slug == notiz.slug %}
                                <a href="{% url 'web_scribble_notes:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-warning">{{ label.label }}</a>
                            {% else %}
                                <a href="{% url 'web_scribble_notes:noteview' treeslug label.slug %}"
                                   class="list-group-item list-group-item-action list-group-item-info">{{ label.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->
        <!-- Content Text -->
        <div class="col-lg-10 mb-4">
            <!-- Approach -->
            <form action="{% url 'dms:fileimport' treeslug %}" method="post"
                  enctype="multipart/form-data">{% csrf_token %}
                {% if form.errors %}
                    <div class="row">
                        <div class='col-lg-8'>{{ form.errors }}</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class='col-lg-4'>
                        <label for="exampleInputFile">Datei auswählen</label>
                        <input type="file" id="id_file" name="file">
                        <br/>
                        <p class="help-block">Datei ablegen in Tree {{ treeslug }}</p>
                    </div>
                </div>
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-lg-4"><input type='submit' value='Datei laden' name="command" class='btn btn-warning btn-lg btn-block'/></div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class='col-lg-4'>&nbsp;</div>
                <div class='col-lg-3'></div>
            </div>
        </div>
    </div>
    <!-- Content Text Ende-->
</div>