<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Link-Menü -->
        <div class="col-lg-4 mb-4">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="list-group zeigemax">
                        {% for datei in dateilist %}
                            <a href="{% url 'webdms:path:datei' pathslug datei.slug %}" class="list-group-item list-group-item-action list-group-item-warning" title="{{ datei.label }}">{{ datei.label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Link-Menü Ende-->

        <!-- Content Text -->
        <div class="col-lg-8 mb-4">
            <!-- Approach -->
            {% if addnotiz %}
                <form action="{{ urlaction }}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row"><div class="col-lg-12">
                                    <label class="control-label" for="id_pfad">Pfad</label>
                                    <select class="custom-select" id="id_pfad" name="pfad">
                                        <option value="None">-- -- -- -- -- -- --</option>
                                        {% for urlpa in pathlist %}{# {% for urlpa in urllist %} #}
                                            <option value="{{ urlpa.pk }}"{% if urlpa.pk == urlid %} selected{% endif %} title="{{ urlpa.slug }}">{{ urlpa.book.book }}/{{ urlpa.pfad }}</option>
                                        {% endfor %}
                                    </select>
                                </div></div>
                                <br />
                                <div class="row"><div class="col-lg-12">
                                    {% if datei %}
                                    <a href="{% url 'dms:dateidownload' datei.pfad.slug datei.slug %}">
                                    <label class="control-label" for="id_label">Dateiname</label>
                                    <input type="text" class="form-control" name="label" id="id_label" value="{{ datei.label }}" readonly/></a>
                                    <br />
                                    <label class="control-label" for="id_hinweis">Hinweis</label>
                                    <input type="text" class="form-control" name="hinweis" id="id_hinweis" value="{{ datei.hinweis }}" />
                                {% else %}
                                    <p class="help-block">Neue Datei in DMS einfügen.</p>
                                    <label for="exampleInputFile">Datei auswählen</label>
                                    <input type="file" id="id_file" name="file">
                                    <label class="control-label" for="id_label" hidden>Dateiname</label>
                                    <input type="text" class="form-control" name="label" id="id_label" value="" hidden />
                                    <br />
                                    <label class="control-label" for="id_hinweis">Hinweis</label>
                                    <input type="text" class="form-control" name="hinweis" id="id_hinweis" value="" />
                                {% endif %}
                                </div></div>
{#                                <div class="row"><div class="col-lg-12">#}
{#                                </div></div>    #}
                                <br />
                                <div class="row">
                                    <div class='col-lg-4'>&nbsp;</div>
                                    <div class='col-lg-3'>
                                        {# {{form|crispy}}#}
                                        <input type='submit' value='Speichern' class='btn btn-success btn-lg btn-block'/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                {% for key in schluessellist %}
                                    <div class="row table-bordered">
                                        <div class="col-lg-3">
                                            <label class="control-label" for="{{ key.id }}" hidden>q</label>
                                            <input type="checkbox" class="form-control" name="kwschluessel__{{ key.id }}" id="{{ key.id }}"{% if key in usedschluessellist %} checked="checked"{% endif %} value="{{ key.pk }}" />
                                        </div>
                                        <div class="col-lg-9">{{ key.schluessel }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                </form>
            {% elif loeschen %}
                <form action="" method="post">{% csrf_token %}
                    <div class="card-header py-3">
                        <label class="control-label text-danger" for="id_label">Datei wirklich löschen ?</label>
                        <input type="text" class="form-control" name="label" id="id_label" value="{{ loeschen.label }}" readonly />
                    </div>
                    <label for="id_content" hidden>Conten löschen</label>
                    <input type="text" class="form-control" name="content" id="id_content" value="Content löschen"
                           hidden/>
                    <div class="card-body content-markdown">{{ loeschen.content }}</div>
                    <div class="row">
                        <div class='col-lg-4'>&nbsp;</div>
                        <div class='col-lg-3'>
                            {#                                <form action="" method="post">{% csrf_token %}#}
                            {#                                {{form|crispy}}#}
                            {% if tree %}
                                <input type='submit' value='Save Note' class='btn btn-success btn-lg btn-block'/>
                            {% elif loeschen %}
                                <input type='submit' value='Remove File' class='btn btn-danger btn-lg btn-block'/>
                            {% else %}
                                <input type='submit' value='Create New Note!' class='btn btn-success btn-lg btn-block'/>
                            {% endif %}
                            {#                                </form>#}
                        </div>
                    </div>
                </form>
            {% elif notiz %}
                <div class="card-header py-3">
                    <div class="row">
                        <div class='col-lg-8'>
                            <h6 class="m-0 font-weight-bold text-primary">
                            <a href="{% url 'webdms:path:notechange' notiz.slug %}" title="bearbeiten">
                                <i class="fas fa-fw fa-wrench"></i> {{ notiz.label }}</a></h6>
                        </div>
                        <div class='col-lg-4'>{{ notiz.keyword.keyword }}</div>
                    </div>
                </div>
                <div class="card-body">
                    {% for datei in beleglist %}
                        <a href="#">{{ datei.originalname }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Content Text Ende-->
</div>
