            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ keywordused }}">
{#                <i class="fas fa-bell fa-fw"></i>#}
                  {% if keywordused %}{{ keywordused }}{% else %}KeyWords{% endif %}
                <!-- Counter - Alerts -->
{#                <span class="badge badge-danger badge-counter">3+</span>#}
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  KeyWords
                </h6>
                  {% for key in schluessellist %}
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'webdms:schluesselfind' key.slug %}">
                      <div class="mr-1"></div>{% comment %}Einrückung{% endcomment %}
                          <div>
                            <span class="font-weight-bold">{{ key.schluessel }}</span>
                          </div>
                  </a>
                  {% endfor %}

                <a class="dropdown-item text-center small text-gray-500" href="{% url 'webdms:keywords_view' %}">Show All KeyWords</a>
              </div>
            </li>