{% for pt in pathlist %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webdms:path:view' pt.slug %}"><span>{{ pt.path }}</span></a>
    </li>
{% endfor %}
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
{% if emptylist %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webdms:path:empty' %}"><span>Ohne Pfad</span></a>
    </li>
{% endif %}
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
