{% for tree in directlist %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'webdms:treeview' tree.slug %}">
{#    <i class="fas fa-fw fa-tachometer-alt"></i>#}
    <span>{{ tree.child }}</span></a>
</li>
{% endfor %}
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
      <!-- Nav Item - Utilities Collapse Menu -->
{% for tree in treelist %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ tree.child }}" aria-expanded="true" aria-controls="collapse{{ tree.child }}">
{#          <i class="fas fa-fw fa-wrench"></i>  |dictsort:"name"#}
          <span>{{ tree.child }}</span>
        </a>
        <div id="collapse{{ tree.child }}" class="collapse" aria-labelledby="heading{{ tree.child }}" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              {% for child in parentlist %}
                  {% if tree.child == child.parent %}
{#                      <a class="collapse-item" href="{% url 'webdms:childview' child.slug %}">{{ child.child }}</a>#}
                      <a class="collapse-item" href="{% url 'webdms:childview' child.parent child.slug %}">{{ child.child }}</a>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
      </li>
{% endfor %}
{% if emptylist %}
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webdms:treeempty' %}"><span>Ohne Tree</span></a>
    </li>
{% endif %}