{% load treebauen %}
{% for pt in pathlist %}
    {% if pt.ebene == 0 or pt.auf == 1 %}
{#        <div class="zeigemax">#}
        <li class="nav-item {% if pt.slug == urlslug %}text-info bg-info{% else %}text-primary{% endif %} zeigemax">
        {% if pt|hassub1 %}<a class="text-white" href="{% url 'webdms:path:treechange' pt.slug %}">&nbsp;+&nbsp;</a>
        {% elif pt|hassub2 %}-+-<a class="text-white" href="{% url 'webdms:path:treechange' pt.slug %}">&nbsp;+&nbsp;</a>
        {% elif pt|issub2 %}-+-+--
        {% elif pt|issub1 %}-+-
        {% else %}-{% endif %}
            <a class="text-white" href="{% url 'webdms:path:view' pt.slug %}" title="{{ pt|removeparent }}"><span>{{ pt|removeparent }}</span></a>
        </li>
{#        </div>#}
    {% endif %}
{% endfor %}
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
{% if emptylist %}
    <li class="nav-item text-primary">
        --<a class="text-white" href="{% url 'webdms:path:empty' %}"><span>Ohne Pfad</span></a></li>
{% endif %}
