<div class="row">
    <div class="col">
        {% if pathslug %}<a href="{% url 'webdms:path:add' pathslug %}" class="icon-circle bg-primary" title="Neue Datei ablegen"><i class="fas fa-file-alt text-white"></i></a>{% endif %}
    </div>
    <div class="col">
        {% if pathslug %}
            <a href="{% url 'webdms:path:searchsl' pathslug %}" class="icon-circle bg-gradient-success" title="in Menü und Notizen suchen"><i class="fas fa-search text-white"></i></a>
        {% else %}
            <a href="{% url 'webdms:search' %}" class="icon-circle bg-gradient-success" title="in Menü und Notizen suchen"><i class="fas fa-search text-white"></i></a>
        {% endif %}
    </div>
    <div class="col">
        {% if pathslug %}<a href="{% url 'webdms:menu_add' pathslug %}" class="icon-circle bg-gradient-warning" title="Neues Untermenü anlegen"><i class="fas fa-plus text-white"></i></a>{% endif %}
    </div>
{% if datei %}
    <div class="col">
        <a href="{% url 'webdms:path:delete' datei.slug %}" class="btn btn-danger btn-circle" title="Datei löschen"><i class="fas fa-trash"></i></a>
    </div>
{% endif %}
</div>
