{% load treebauen %}
{#<div id="jstree_demo_div">#}
<div id="jstree">
    <ul>
{#      <li>Root node 1#}
{#        <ul>#}
{#          <li id="child_node_1">Child node 1</li>#}
{#          <li>Child node 2</li>#}
{#        </ul>#}
{#      </li>#}
{#      <li>Root node 2</li>#}
      {% for pt in pathlist %}
          {% if pt.ebene == 0 %}
            {# wenn sich der Wert von pt.ebene ändert dann  #}
{#            </li><li title="{{ pt.path }}"><a href="{% url 'webdms:path:view' pt.slug %}">{{ pt.path }}</a>#}
              </li><li id="{{ pt.slug }}" title="{{ pt.path }}">{{ pt.path }}
          {% else %}
              <ul>
{#                  <li id="{{ pt.slug }}">{{ pt.path|teil }}</li>#}
                  <li id="{% url 'webdms:path:view' pt.slug %}">{{ pt.path|teil }}</li>
{#                  <li title="{{ pt.path }}">{{ pt.path|teil }}</li>#}
              </ul>
          {% endif %}
      {% endfor %}
        </li>
    </ul>
</div>
{#<button>demo button</button>#}
{% for pt in pathlist %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webdms:path:view' pt.slug %}"><span>{{ pt.path }}</span></a>
    </li>
{% endfor %}
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
{% if emptylist %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webdms:path:empty' %}"><span>Ohne Pfad</span></a>
    </li>
{% endif %}
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
