<li class="nav-item dropdown no-arrow mx-5">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ book.book }}">
        <i class="fas fa-fw">{{ book.book|slice:':8' }}</i>
    </a>
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">Books</h6>
        {% for stk in booklist %}
        <a class="dropdown-item d-flex align-items-center{% if stk.is_active %} bg-gradient-success{% endif %}" href="{% url 'webdms:changebook' stk.slug %}">
            <div><span class="font-weight-bold">{{ stk.book }}</span></div>
        </a>
        {% endfor %}
        <a class="dropdown-item text-center small text-gray-500" href="{% url 'webdms:bookview' %}">Zeige alle Bücher</a>
    </div>
</li>